extends ../layout

block content
    h3 Edit
        form(action="/products/edit/"+product._id,method="post")
            .form-group
                label(for="name") Product Name
                input#name(type="text",class="form-control", name="name", value= product.name)
            .form-group
                label(for="price") Product Price
                input#price(type="text",class="form-control", name="price", value= product.price)
            .form-group
                label(for="size") Size
                input#size(type="text",class="form-control", name="size", value= product.size)
            .form-group
                label(for="category") Category
                input#category(type="text",class="form-control", name="category", value= product.category)
            input(type="submit", class="btn btn-info")